@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=PT+Sans+Narrow:wght@400;700&display=swap");
.site__shell {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 24, 26);
}

.presenter__container {
  position: relative;
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.071);
  border: 5px solid #f6c4a1;
  border-radius: 15px;
}

.name {
  position: absolute;
  top: 45%;
  left: 16px;
  font-family: raleway, sans-serif;
  color: #f6c4a1;
  opacity: 1;
}
.name.hidden {
  opacity: 0;
}

.call__in {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 25px);
  width: 50px;
  aspect-ratio: 1/1;
  border: 3px solid white;
  border-radius: 50%;
  font-family: var(--header-font);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call__in h3 {
  opacity: 40%;
  font-size: 32px;
}
.call__in::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: calc(50% - 25px);
  width: 50px;
  aspect-ratio: 1/1;
  border: 3px solid rgba(255, 255, 255, 0.143);
  border-radius: 50%;
  animation: ringer 12s linear 0s infinite forwards;
  transform-origin: bottom center;
}
.call__in::after {
  content: "";
  position: absolute;
  width: 50px;
  aspect-ratio: 1/1;
  border: 3px solid rgba(255, 255, 255, 0.781);
  border-radius: 50%;
  animation: pulse 2s ease-in 0s infinite forwards;
}
.call__in:hover h3 {
  opacity: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes pulse {
  0% {
    scale: 104%;
    opacity: 100%;
    border: 3px solid rgba(255, 255, 255, 0.781);
  }
  50% {
    scale: 120%;
    opacity: 0%;
    border: 0px solid rgba(255, 255, 255, 0.781);
  }
  100% {
    scale: 120%;
    opacity: 0%;
    border: 0px solid rgba(255, 255, 255, 0.781);
  }
}
@keyframes ringer {
  0% {
    rotate: 0deg;
    opacity: 100%;
  }
  33% {
    opacity: 0;
  }
  60% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    rotate: 360deg;
    opacity: 100%;
  }
}
:root {
  --font-titles: "Aboreto", cursive;
  --font-text: "Open Sans", sans-serifl;
  --color-back: #d0cfca;
  --timing: cubic-bezier(1, -0.01, 0.33, 1.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#abso {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

:root {
  --header-font: "Libre Baskerville", serif;
  --main-font: "PT Sans Narrow", sans-serif;
  --sub-text: "";
  --accent-color: #fff784;
  --background-color: #47f0f1;
  --textcolor: ;
  --button-text-color: ;
  --d-accent-color: ;
  --d-background-color: ;
  --d-textcolor: ;
  --d-button-text-color: ;
  --trans: 1.5s;
  --trans-quick: 0.75s;
  --bad-input-text: "Hi! Please fill all sections out";
  --logo-blue: #47f0f1;
  --carib-blue: #24a5b5;
  --carib-gree: #52eab5;
  --carib-oran: #ffb93f;
  --carib-yell: #fff784;
  --carib-pink: #ffafcd;
}

html {
  font-size: 16px;
}

#launch {
  position: absolute;
  top: 0;
  z-index: 90;
  left: 50vw;
  width: 100px;
  height: 20px;
}

.site--padding {
  background-color: var(--color-back);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site--shell {
  position: relative;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.u {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.b {
  display: inline;
  font-weight: 800;
}

.ind {
  margin-left: 1rem;
}

.words-header {
  font-family: var(--business-font);
}

.h {
  font-family: var(--letter-font);
  font-size: 1.5rem;
  line-height: 1rem;
}

.handy {
  font-family: var(--letter-font);
  font-size: 2.5rem;
  line-height: 3rem;
}

.under {
  text-decoration: underline;
}

.trans {
  opacity: 0;
}

.flex--break {
  flex-basis: 100%;
  height: 0;
  width: 0;
}

.transition--cover .offset--down {
  transition: none;
  transform: translateY(100vh);
}
.transition--cover .offset--up {
  transform: translateY(-100vh);
}
.transition--cover.offset--up {
  opacity: 0;
  transform: translateY(-100vh);
}
.transition--cover.offset--upS {
  transform: translateY(-350vh);
}
.transition--cover.offset--down {
  transform: translateY(100vh);
}
.transition--cover.offset--left-soft {
  transform: translateX(-120%);
  opacity: 0;
}
.transition--cover.offset--left {
  transform: translateX(-100vw);
}
.transition--cover.offset--right {
  transform: translateX(100vw);
}
.transition--cover.faded--down {
  transform: translateY(100%);
  opacity: 0%;
}
.transition--cover.shrunk {
  scale: 0;
}

@media only screen and (max-width: 768px) {
  .h {
    font-family: var(--letter-font);
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.75rem;
  }
  .ind {
    margin-left: 2rem;
  }
}
.menu__list {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  pointer-events: none;
}
.menu__list .menu__item {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-family: var(--header-font);
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: transparent;
  font-size: min(10vw, 34px);
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-stroke: 0.1vw #f6c4a1;
  transition: all 0.5s ease-out;
  top: 0;
}
.menu__list .menu__item.showcase {
  transform: none;
  opacity: 1;
}
.menu__list .menu__item::before {
  content: attr(data-text);
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: #f6c4a1;
  -webkit-text-stroke: 0vw #f6c4a1;
  overflow: hidden;
}
.menu__list .menu__item:nth-child(2n) {
  transform: translateX(100%);
}
.menu__list .menu__item.opening {
  position: absolute;
  top: 32px;
}
.menu__list.show__me .menu__item {
  transform: none;
  opacity: 100%;
  pointer-events: all;
}
.menu__list.show__me .menu__item::before {
  animation: borderIn 1s ease-out 0.5s 1 forwards;
}

@keyframes borderIn {
  0% {
    width: 0%;
    border-right: 3px solid #f6c4a1;
  }
  95% {
    width: 105%;
    border-right: 3px solid #f6c4a1;
  }
  100% {
    width: 105%;
    border-right: 0px solid #f6c4a1;
  }
}/*# sourceMappingURL=index.css.map */